@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper
{
    width: 750px;
    background: rgba(255,255,255,.1);
    border: 2px solid rgba(255,255,255,.2);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    color: #fff;
    padding: 40px 35px 55px;
    margin: 0 10px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}
.wrapper .input-box
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-box .input-field
{
    position: relative;
    width: 48%;
    height: 50px;
    margin: 13px 0;
}
.input-box .input-field input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    outline: none;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    padding: 15px 15px 15px 40px;
}
.input-box .input-field input::placeholder
{
color: #fff;
}
.input-box .input-field i
{
    position:absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper label
{
    display: inline-block;
    font-size: 14.5px;
    margin: 10px 0 23px;
}
.wrapper label input
{
accent-color: #fff;
margin-right: 5px;
}
.wrapper .btn
{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper .register-link
{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a
{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover
{
    text-decoration: underline;
}
@media (max-width:576px)
{
    .input-box .input-field
    {
        width: 100%;
        margin: 10px 0;
    }
}
.toast{
    display: none;
    min-width: 20vw
  }
  .toast.show {
      display: block;
      opacity: 1;
      position: fixed;
      z-index: 99999999;
      margin: 20px;
      right: 0;
      top: 3.5rem;
  }
  .swal2-container{
      z-index: 99999999;
  }
  #preloader2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #ffffff82;
  }
  
  #preloader2:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #1977cc;
    border-top-color: #d1e6f9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .truncate {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      font-size: smaller;
      color: #000000cf;
      font-style: italic;
  }
   .modal-dialog.large {
      width: 80% !important;
      max-width: unset;
    }
    .modal-dialog.mid-large {
      width: 50% !important;
      max-width: unset;
    }
    #viewer_modal .btn-close {
      position: absolute;
      z-index: 999999;
      /*right: -4.5em;*/
      background: unset;
      color: white;
      border: unset;
      font-size: 27px;
      top: 0;
  }
  #viewer_modal .modal-dialog {
          width: 80%;
      max-width: unset;
      height: calc(90%);
      max-height: unset;
  }
    #viewer_modal .modal-content {
         background: black;
      border: unset;
      height: calc(100%);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #viewer_modal img,#viewer_modal video{
      max-height: calc(100%);
      max-width: calc(100%);
    }